/* ======================= Custom Css ======================= */
/* Open Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #666;
}
h1, h2, h3, h4, h5, h6, p, ul, ul li, ol, ol li, span, a, figure{
	margin: 0px;
	padding: 0px;
}
ul, ul li, ol, ol li{
	list-style: none;
}
h1{
	font-size: 46px;
  font-weight: 700;
}
h2{
	font-size: 34px;
	font-weight: 700;
}
h3{
	font-size: 24px;
	font-weight: 700;
}
h4{
	font-size: 26px;
	font-weight: 700;
}
h5{
	font-size: 28px;
	font-weight: 700;
}
h6{
	font-size: 17px;
	font-weight: 300;
}
a, a:hover, a:focus, .btn, .btn:hover, .btn:focus{
	text-decoration: none;
	outline: none;
}
img{
	max-width: 100%;
}
::selection {
  background: #000;
  color: #fff;
}
/* ======== common classes ======== */
.relative-pos{
	position: relative;
}
.height-auto{
	height: auto !important;
}
.no-padding{
	padding: 0px !important;
}
.width-full{
	width: 100% !important;
}
.width-160{
	min-width: 160px;
}
.mt-40{
	margin-top: 40px;
}
.font-size-15{
	font-size: 15px !important;
}
.spacer-25{
	padding: 25px 0;
}
.pr-15{
	padding-right: 15px;
}
.pl-15{
	padding-left: 15px;
}
.height-100{
	height: 100%;
}
/* input */
.form-control{
	background-clip: inherit;
}
.form-control:focus {
  color: #747474;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #747474;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #747474;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #747474;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #747474;
}
.space-left{
	padding-left: 7.5px;
}
.space-right{
	padding-right: 7.5px;
}
/* custom grid */
.custom-row{
	width: 100%;
}
.custom-row:after{
	content: '';
	clear: both;
}
.custom-row .custom-col-2{
	width: 20%;
	float: left;
}
/* black overlay */
.opacity-7{
	position: relative;
}
.opacity-7:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
}
.opacity-7.opacity-8:after{
	background: rgba(0,0,0,0.85);
}
.banner-full{
	width: 100%;
	height: 100vh;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	min-height: 660px;
}
.content-align{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
/* buttons */
.btn.focus, 
.btn:focus{
	box-shadow: 0 0 0 0 rgba(0, 0, 0,.01);
}
.btn{
	padding: 12px 12px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 2px;
	transition: all 0.35s ease;
}
.btn.btn-red{
	color: #fff;
	border: 1px solid #EC2023;
	background: #EC2023;
	text-transform: uppercase;
}
.btn.btn-red:hover{
	color: #fff;
	background: #111517;
	border-color: #111517;
}
.btn.btn-white{
	background: #fff;
	color: #EC2023;
	text-transform: capitalize;
	border-radius: 6px !important;
}
.btn.btn-white:hover{
	color: #fff;
	background: #111517;
}
/* section heading */
.section-head{
	text-align: center;
	margin: 0 auto;
  width: 100%;
  max-width: 556px;
}
.section-head h3{
	font-size: 34px;
	color: #545454;
	padding: 0 0 20px;
}
.section-head p{
	font-size: 15px;
	line-height: 26px;
}
/* section heading development */
.section-head.section-head-dev{
	position: relative;
	z-index: 1;
	max-width: 100%;
}
.section-head.section-head-dev h3{
	font-size: 26px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	padding: 0 0 12px;
}
.section-head.section-head-dev p{
	color: #EC2023;
	font-size: 16px;
	text-transform: uppercase;
}
/* back to top */
#toTopBtn {
  position: fixed;
  z-index: 9;
  background-color: #EC2023;
  bottom: 14px;
  right: 22px;
  display: inline-block;
  height: 42px;
  width: 42px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  line-height: 36px;
  border-radius: 2px;
  transition: all 0.35s ease;
}
#toTopBtn:hover{
	background-color: #FF0000;
}
.js .cd-top--fade-out {
  opacity: .5;
}
.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s;
}
/* container */
.container{
	max-width: 90%;
}
.container.header-wrapper{
	max-width: 98%;
}
/* header */
.header{
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
.header .brand-logo img{
	width: 100%;
	max-width: 144px;
}
/* mobile app development hero */
.hero{
	background-image: url(../img/mobile-app-development-2.png);
	margin: -78px 0 0;
	position: relative;
}
/* hero content */
.hero .hero-content{
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.hero .hero-content h1{
  text-transform: uppercase;
  padding: 0 0 30px;
}
.hero .hero-content p{
	font-size: 17px;
}
/* services */
.services{
	background-image: url(../img/services-banner.jpg);
	color: #fff;
	text-align: center;
}
.services .serices-content{
	width: 100%;
}
.services p{
	font-size: 20px;
}
.services h2{
	font-size: 96px;
	font-weight: 700;
}
.services h2 span{
	color: #EC2023;
}
/* contact us */
.contact-us{
	background-image: url(../img/contact-us-banner.png);
	color: #fff;
	position: relative;
}
.contact-us .contact-us-form{
	max-width: 480px;
	width: 100%;
}
.contact-us .contact-us-form h2{
	text-align: center;
	text-transform: uppercase;
}
.contact-us .contact-us-form .custom-form{
	padding: 35px 0 0;
}
.custom-form .form-group .form-control{
	font-size: 14px;
  color: #747474;
  border: 1px solid #fff;
  border-radius: 2px;
}
.custom-form .btn.btn-red{
	width: 100%;
}
/* get in touch */
.get-in-touch{
	text-align: center;
	background: #EC2023;
	padding: 30px 0;
}
.get-in-touch h2{
	text-transform: capitalize;
	color: #fff;
	padding: 10px 0 0;
	font-size: 42px;
}
/* social navigation */
.get-in-touch ul.social-nav{
	padding: 40px 0 25px;
}
.get-in-touch ul.social-nav li{
	display: inline-block;
	margin: 0 80px 0 0;
}
.get-in-touch ul.social-nav li:last-child{
	margin: 0px;
}
.get-in-touch ul.social-nav li a{
	color: #111517;
	font-size: 46px;
	transition: all 0.35s ease;
}
.get-in-touch ul.social-nav li a:hover{
	color: #fff;
}
.get-in-touch .btn-group{
	display: block;
}
.get-in-touch .btn-group .btn.btn-white{
	margin: 0 8px;
	display: inline-block;
	min-width: 180px;
}
/* footer */
.footer{
	background: #111517;
	padding: 70px 0;
}
.footer .brand-logo img{
	width: 100%;
	max-width: 164px;
}
.footer .footer-block{
	color: #fff;
	padding: 50px 0 0;
}
.footer .footer-block h3{
	text-transform: uppercase;
	padding: 0 0 36px;
}
.footer .footer-block .address-block{
	padding: 0 0 30px;
}
.footer .footer-block .address-block h4{
	text-transform: uppercase;
	padding: 0 0 10px;
}
.footer .footer-block .address-block p{
	font-weight: 300;
}
/* footer navigation */
.footer .footer-block ul.footer-nav li{
	display: block;
	margin: 0 0 16px;
}
.footer .footer-block ul.footer-nav li a{
	color: #fff;
	font-weight: 300;
	transition: all 0.35s ease;
	position: relative;
}
.footer .footer-block ul.footer-nav li a:after,
.footer .footer-block .address-block p a:after{
	content: '';
	width: 0px;
	left: 0;
	bottom: -2px;
	height: 1px;
	background: #fff;
	position: absolute;
	transition: all 0.35s ease;
}
.footer .footer-block ul.footer-nav li a:hover:after,
.footer .footer-block .address-block p a:hover:after{
	width: 100%;
	background: #FF0000;
}
.footer .footer-block ul.footer-nav li a:hover,
.footer .footer-block .address-block h4 a:hover,
.footer .footer-block .address-block p a:hover{
	color: #FF0000;
}
.footer .footer-block .address-block h4 a{
	color: #fff;
	transition: all 0.35s ease;
}
.footer .footer-block .address-block p a{
	color: #fff;
	transition: all 0.35s ease;
	position: relative;
}
.footer .footer-block .address-block.address-info h4{
	padding: 12px 0 18px;
}
.footer .footer-block .address-block.address-info p{
	font-weight: 400;
	padding: 0 0 8px;
}
.footer .footer-block .address-block.address-info p a{
	font-weight: 300;
	margin: 0 0 0 8px;
}
/* copyright */
.copyright{
	text-align: center;
	background: #141618;
	padding: 25px 0;
}
.copyright p,.copyright span{
	color: #fff;
	font-size: 13px;
	display: inline;
}
/* home Hero */
.hero.home-hero{
	background-image: url(../img/home-hero-cover.jpg);
	overflow: hidden;
}
/* home video */
.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  transform: translate(-50%, -43.5%);
  zoom: 0.1;
}
.home-hero h1{
	letter-spacing: 10px;
}
.home-hero h1 span{
	color: #EC2023;
	position: relative;
}
.home-hero h1 span:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 7px;
	height: 2px;
	background: #EC2023;
	display: inline-block;
	width: 100%;
}
.banner-bottom-bar{
	position: absolute;
	width: 100%;
	background-color: #FF0000;
	min-height: 62px;
	display: block;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
/* expertise */
.expertise .article-content{
	height: 100vh;
	position: relative;
}
.expertise .article-content .align-content{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.expertise .article-content h3{
	font-size: 30px;
	color: #545454;
	text-transform: uppercase;
}
.expertise .article-content h6{
	color: #FF0000;
	padding: 20px 0;
}
.expertise .article-content p{
	font-size: 15px;
	line-height: 26px;
}
.expertise .article-figure{
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center top;
}
.expertise .article-figure.software-dev{
	/*background-image: url(../img/software-dev.jpg);*/
	color: #fff;
}
.expertise .article-figure.application-dev{
	/*background-image: url(../img/application-dev.jpg);*/
}
.expertise .article-figure .figure-content{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.expertise .article-figure p{
	font-size: 16px;
  padding: 0 0 30px;
}
.expertise .article-figure h2{
	font-size: 34px;
	font-weight: 800;
}
.expertise .article-figure h2 span{
	color: #EC2023;
}
/* features */
.features{
	padding: 120px 0 20px;
}
.features .features-content{
	padding: 0 0 70px;
}
.features .mobile-skeleton{
	border: 1px solid #707070;
	border-radius: 30px;
	height: 100%;
  width: calc(100% - 150px);
  margin: 0 auto;
}
/* features list */
ul.features-list{
	margin: 50px 0;
}
ul.features-list li{
	display: block;
	position: relative;
	margin: 0 0 32px;
}
ul.features-list li:last-child{
	margin: 0px;
}
ul.features-list li:after{
	position: absolute;
	content: '';
	display: inline-block;
	width: 62px;
	height: 62px;
	border: 1px solid #707070;
	border-radius: 50%;
	top: 0;
}
ul.features-list.fl-right li{
	padding-right: 50px;
}
ul.features-list.fl-right li:after{
	right: -35px;
}
ul.features-list.fl-left li{
	padding-left: 50px;
}
ul.features-list.fl-left li:after{
	left: -35px;
}
ul.features-list li h5{
	font-size: 16px;
	font-weight: 700;
	color: #666;
	padding: 0 0 4px;
}
ul.features-list li p{
	color: #FF0000;
	line-height: 22px;
}
/* our services */
.our-services{
	padding: 70px 0 20px;
}
.services-cards{
	padding: 10px 0 0;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
/* card */
.services-cards .card{
	box-shadow: 0px 3px 15px #00000029;
	border: 0px;
	border-radius: 0;
	max-width: 300px;
  margin: 45px auto 0;
  width: 100%;
  padding: 22px 30px;
}
.services-cards .card .icon{
	margin: 0;
}
.services-cards .card .icon img{
	max-height: 60px;
}
.services-cards .card h5{
	font-size: 17px;
	font-weight: 600;
	padding: 18px 0px 12px;
}
/* our clients */
.our-clients{
	background: #FF0000;
	height: 100vh;
	min-height: 660px;
}
.our-clients .height-100{
	height: calc(100% - 30px);
}
.our-clients .clients-content{
	background: #fff;
	max-width: 100%;
	padding: 0 0 20px;
}
.our-clients .clients-content h3{
	padding: 0px;
}
.our-clients .all-logos{
	position: relative;
}
.our-clients .all-logos .align-content{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
}
.our-clients .all-logos .client-logo{
	text-align: center;
	padding: 50px;
}
.our-clients .all-logos .client-logo img{
	max-width: 60px;
	width: 100%;
}
/* our work */
.our-work{
	padding: 70px 0 90px;
}
.our-work .work-content{
	padding: 0 0 35px;
}
.our-work .work-content h3{
	padding: 0;
}
.our-work .carousel{
	padding: 0 0 50px;
}
.our-work .carousel-item img{
	box-shadow: 0px 3px 15px #00000029;
	border-radius: 8px;
}
.our-work .carousel-item{
	text-align: center;
}
.our-work .carousel-item h4{
	font-size: 20px;
  font-weight: 600;
  padding: 15px 0 0;
}
.carousel-indicators li{
	width: 12px;
	height: 12px;
	background: #666;
	opacity: 1;
	border-radius: 50%;
	border: 0px;
	margin-left: 5px;
	margin-right: 5px;
}
.carousel-indicators .active{
	background: #EC2023;
}
/* testimonials */
.testimonials{
	padding: 70px 0;
}
.testimonials .testimonial-content h3{
	padding: 0 0 0;
}
/* header inner */
.header.header-inner{
	background: #000;
	padding: 22px 0;
}
.header.header-inner .brand-logo img{
	max-width: 96.70px;
}
/* hamburger menu */
.button_container {
  position: absolute;
  top: 50%;
  right: 30px;
  height: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  transform: translateY(-50%);
}
.button_container.active .top {
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
}
.button_container.active .bottom {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #EC2023;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  border-radius: 4px;
}
.button_container.active:hover .top,
.button_container.active:hover .bottom{
	background: #EC2023;
}
.button_container span:nth-of-type(2) {
  top: 8px;
}
.button_container span:nth-of-type(3) {
  top: 16px;
}
.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin: 0 0 25px;
}
.overlay ul li:last-child{
	margin: 0px;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: all 0.35s ease;
}
.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active{
	color: #EC2023;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* common article */
.article-descp h3{
	font-size: 28px;
	color: #EC2023;
	font-weight: 600;
	text-transform: capitalize;
}
.article-descp h4{
	font-size: 16px;
	color: #EC2023;
	font-weight: 700;
	padding: 20px 0 16px;
}
.article-descp p{
	color: #000;
}
.article-descp .btn.btn-red{
	margin: 30px 0 0;
}
.marketing-agency figure img{
	margin: -10% 0 0;
}
/* marketing agency */
.marketing-agency{
	padding: 80px 0 0;
	overflow-x: hidden;
}
.marketing-agency .article-descp{
	padding: 100px 0;
}
.marketing-agency .article-descp h3{
	margin: 0 -25% 0 0;
}
/* offerings */
.offerings{
	padding: 50px 0;
}
.offerings .article-descp{
	width: 100%;
  max-width: 778px;
}
.offerings .article-descp h3{
	padding: 0 0 20px;
}
/* offerings cards */
.offerings-card{
	padding: 5px 0 0;
}
.offerings-card .card{
	border: 0px;
	border-radius: 10px;
	max-width: 370px;
	min-height: 260px;
	width: 100%;
	margin: 30px auto 0;
	display: block;
	background: transparent;
	padding: 30px 25px 22px;
	transition: all 0.35s ease;
}
.offerings-card .card:hover,
.offerings-card .card.active{
	box-shadow: 10px 10px 10px #9CA4D47D;
	background: #FAFAFA;
}
.offerings-card .card .icon{
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	background: rgba(236, 32, 35,0.15);
}
.offerings-card .card h4{
	font-size: 18px;
	font-weight: 700;
	color: #000;
	padding: 18px 0 12px;
}
.offerings-card .card p{
	color: #000;
}
/* talk to experts */
.talk-to-experts{
	background: #EC2023;
	padding: 75px 0 45px;
}
.talk-to-experts .form-head{
	color: #fff;
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
}
.talk-to-experts .form-head h3{
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
	padding: 0 0 25px;
}
.talk-to-experts .form-head p{
  line-height: 22px;
}
.talk-to-experts .get-report{
	padding: 65px 0 0;
}
.talk-to-experts .get-report ul.fieldset{
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
}
.talk-to-experts .get-report ul.fieldset li{
	display: inline-block;
	margin: 0 15px 0 0;
}
.talk-to-experts .get-report ul.fieldset li:last-child{
	margin: 0;
}
.talk-to-experts .get-report .btn.btn-white{
	min-width: 110px;
	border-radius: 0px !important;
	padding: 10px;
	margin: -1px 0 0;
}
.talk-to-experts .get-report .form-group{
	margin: 0;
}
.talk-to-experts .get-report .form-group .form-control{
	border-radius: 0px;
	background: #f63336;
	border: 1px solid #f63336;
	color: #fff;
	font-size: 14px;
	height: 42px;
	min-width: 308px;
}
.get-report .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.get-report .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.get-report .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.get-report .form-group .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/* business growth */
.business-growth{
	padding: 55px 0 60px;
}
.business-growth figure{
	margin: 20px 0 0;
}

/* growth cards */
.growth-cards{
	background: #EC2023;
	padding: 55px 0 90px;
}
.growth-cards .offerings-card{
}
.growth-cards .offerings-card .card{
	border-radius: 2px;
	background: #f63336;
	min-height: 280px;
}
.growth-cards .offerings-card .card h4,
.growth-cards .offerings-card .card p{
	color: #fff;
}
.growth-cards .offerings-card .card .icon{
	background: #fff;
}
.growth-cards .offerings-card .card:hover,
.growth-cards .offerings-card .card.active{
	box-shadow: 0px 0px 0px #9CA4D47D;
	background: #f63336;
}
/* social marketing */
.social-marketing{
	padding: 80px 0;
}
.social-marketing figure{
	margin: 45px 0 0;
}
/* why choose us */
.why-choose-us{
	background: #F7F7F7;
	padding: 30px 0 60px;
}
.why-choose-us .article-descp{
	width: 100%;
	max-width: 600px;
}
.why-choose-us .article-descp h4{
	color: #000;
}
/* card group */
.cards-group .card{
	border-radius: 0px;
	border: 0px;
	max-width: 370px;
	width: 100%;
	margin: 46px auto 0;
	display: block;
	background: transparent;
	text-align: center;
}
.cards-group .card h5{
	color: #EC2023;
	font-weight: 700;
	font-size: 20px;
}
.cards-group .card .box-content{
	background: #fff;
  border-radius: 2px;
  margin: 15px 0 0;
  min-height: 190px;
  padding: 50px 25px;
}
.cards-group .card .box-content p{
	line-height: 22px;
}
/* dual section banner */
.hero.dual-section-banner{
	background-image: none;
	background-color: #272523;
}
.hero.dual-section-banner .article{
	width: 100%;
	max-width: 390px;
	position: absolute;
	left: 0px;
	transform: translateY(-50%);
	top: calc(50% + 10px);
}
.hero.dual-section-banner figure{
	position: absolute;
	left: 50%;
	transform: translate(-10%, -50%);
	top: calc(50% + 10px);
}
.hero.dual-section-banner figure img{
	max-width: 230px;
}
.hero.dual-section-banner .article h1{
	color: #EF2427;
	font-size: 26px;
	padding: 0 0 20px;
}
.hero.dual-section-banner .article p{
	color: #fff;
}
/* why choose sudo */
.why-choose-sudo{
	background-image: url(../img/application-dev-banner.png);
	padding: 60px 0px;
}
.why-choose-sudo .section-head.section-head-dev{
	color: #fff;
}
.why-choose-sudo .section-head.section-head-dev h3{
	color: #fff;
}
.why-choose-sudo .section-head.section-head-dev p{
	color: #fff;
}
/* why choose sudo cards */
.why-choose-us-cards{
	position: absolute;
	width: 100%;
	z-index: 1;
	margin: 70px 0 0;
	left: 0;
	bottom: 10px;
}
.why-choose-us-cards .card{
	color: #fff;
	border: 0px;
	background: transparent;
	border-radius: 0px;
}
.why-choose-us-cards .card .icon{
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	background: rgba(236,32,35,0.56);
	margin: 0 0 15px;
}
.why-choose-us-cards .card .card-content{
	background: rgba(0,0,0,0.3);
	border-radius: 8px;
	padding: 16px;
	min-height: 256px;
}
.why-choose-us-cards .card .card-content h4{
	font-size: 17px;
	padding: 0 0 12px;
	width: 100%;
	max-width: 260px;
}
.why-choose-us-cards .card .card-content p{
	line-height: 22px;
}
/* platforms */
.platforms{
	padding: 60px 0;
}
/* platforms cards */
.platform-cards{
	padding: 80px 0 0;
}
.platform-cards .card{
	color: #000;
	border-radius: 8px;
	border: 1px solid #707070;
	padding: 50px 18px 30px;
	transition: background 0.35s linear, min-height 0.35s;
	min-height: 432px;
} 
.platform-cards .card.active{
	color: #fff;
	background: #EC2023;
	border: 1px solid #EC2023;
	box-shadow: 10px 10px 10px #9CA4D47D;
  transform: translateY(-36px);
  transition: min-height 0.35s, transform 0.35s;
}
.platform-cards .card .icon img{
	height: 70px;
	transition: height 0.35s;
}
.platform-cards .card.active .icon img{
	height: 106px;
}
.platform-cards .card h4{
	font-size: 17px;
  padding: 30px 0 12px;
  text-transform: uppercase;
  transition: height 0.35s;
}
.platform-cards .card p{
	line-height: 22px;
	transition: height 0.35s;
}
/* step process */
.step-process{
	padding: 15px 0 0;
}
.step-process .step-head{
	color: #000;
}
.step-process .step-head h4{
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0 0 16px;
}
.step-process .step-head h5{
	font-size: 24px;
	font-weight: 700;
}
/* step process tabs */
.tabs {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 0px 0;
  width: 100%;
}
#tab-button {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
	float: left;
}
#tab-button li a {
  display: block;
  padding: 12px 12.180px;
  background: #fff;
  border: 1px solid #7070704D;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 9px 9px 0px 0px;
  text-transform: uppercase;
}
#tab-button li a:hover,
#tab-button .is-active a {
  background: #EC2023;
  color: #fff;
}
.tab-button-outer {
  display: none;
}
.tab-contents{
  background-image: url(../img/step-process.png);
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border: 1px solid #7070704D;
  padding: 65px 30px;
}
.tab-contents.opacity-7:after{
	background: rgba(0,0,0,0.58);
}
.tab-contents .article-descp{
	position: relative;
	z-index: 1;
}
.tab-contents .article-descp h3{
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 0 20px;
}
.tab-contents .article-descp p{
	color: #fff;
}
.tab-contents .article-descp .btn.btn-red{
	margin: 25px 0 0;
}
/* housecall */
.housecall{
	height: 100vh;
	min-height: 660px;
	background: transparent linear-gradient(180deg, #2064C5 0%, #103263 100%) 0% 0% no-repeat;
	padding: 50px 0;
}
/* housecall slider */
.housecall-slide{
	position: relative;
	height: 100%;
}
.housecall-slide figure{
	padding: 0 45px 0 0;
}
.housecall-slide figure img {
  max-width: 230px;
}
.housecall-slide .content-align{
	width: 100%;
}
.housecall-slide .article{
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	color: #fff;
}
.housecall-slide .article h3{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.housecall-slide .article p{
	font-size: 18px;
  line-height: 28px;
  padding: 25px 0;
}
.housecall-slide .article .btn-store{
	display: inline-block;
}
.housecall-slide .article .btn-store img{
	width: 100%;
	max-width: 170px;
}
.housecall .carousel-indicators li{
	background: #fff;
}
.housecall .carousel-indicators .active{
	background: #EC2023;
}
/* gurantee */
.gurantee{
	padding: 60px 0;
}
.gurantee .section-head.section-head-dev{
	max-width: 556px;
}
.gurantee .section-head.section-head-dev p{
	text-transform: inherit;
}
/* gurantee cards */
ul.gurantee-cards{
	overflow: hidden;
	margin: 35px 0 0;
}
ul.gurantee-cards li.card{
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 9px;
	float: left;
	width: calc(20% - 15px);
  margin: 0 15px 0 0;
  padding: 20px 15px;
}
ul.gurantee-cards li.card:last-child{
	margin: 0;
}
ul.gurantee-cards li.card .icon{
	border: 1px solid #707070;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
ul.gurantee-cards li.card h4{
	font-size: 15px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0 8px;
}
ul.gurantee-cards li.card p{
	font-weight: 300;
	line-height: 22px;
}
/* responsive */
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
	html, body{
		overflow-x: hidden;
	}
	/* home page */
	.header .brand-logo img{
		max-width: 92px;
	}
	.hero.home-hero{
		background-image: none;
		margin: -66px 0 0;
	}
	.hero.home-hero #HomeHeroMobile .carousel-item{
		background-image: url(../img/home-hero-mobile.png);
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.hero.home-hero #HomeHeroMobile .carousel-indicators{
		bottom: 50px;
	}
	.hero.home-hero #HomeHeroMobile .carousel-indicators li{
		background: #9eacb8;
	}
	.hero.home-hero #HomeHeroMobile .carousel-indicators li.active{
		background: #EC2023;
	}
	.home-hero h1{
		letter-spacing: 8px;
    font-size: 32px;
	}
	.home-hero h1 span:after{
		display: none;
	}
	.font-size-15{
		font-size: 14px !important;
	}
	.btn{
		padding: 11px 12px;
	}
	.hero.home-hero .height-100{
		height: 100vh;
	}
	.banner-full{
		min-height: auto;
	}
	.expertise{
		background: #F4F4F4;
		padding: 35px 0 0;
	}
	.expertise .article-content.text-right{
		text-align: inherit !important;
	}
	.expertise .article-content{
		height: auto;
	}
	.expertise .article-content .align-content{
		position: relative;
    top: 0;
    left: 0;
    transform: translateY(0%);
	}
	.pr-15{
		padding-right: 0;
	}
	.pl-15{
		padding-left: 0;
	}
	.expertise .article-content h3{
		font-size: 20px;
    color: #000;
    width: 50%;
	}
	.expertise .article-content h6{
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
	}
	.expertise .article-content p{
		font-size: 14px;
		color: #000;
	}
	.btn-mobile .btn.btn-red{
		text-align: left;
		margin: 20px 0 0;
		position: relative;
		padding: 11px 52px 11px 12px;
	}
	.btn-mobile .btn.btn-red span.arrow{
		background-color: #fff;
		height: 41px;
		width: 41px;
		display: inline-block;
		text-align: center;
		position: absolute;
		right: 1px;
		top: 1px;
		color: #000;
    font-size: 22px;
    line-height: 38px;
	}
	.expertise .article-figure.software-dev{
		background-image: url(../img/software-dev-mobile.png);
		height: 287px;
		margin: 32px 0 0;
	}
	.expertise .article-figure.application-dev{
		background-image: url(../img/android-dev-mobile.png);
		height: 287px;
		margin: 32px 0 0;
	}
	.features-mobile{
		padding: 40px 0 50px;
	}
	.features-mobile .article-content{
		text-align: center;
	}
	.features-mobile .article-content h3{
		font-size: 20px;
    color: #000;
	}
	.features-mobile .article-content h6{
		font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #FF0000;
    padding: 20px 0;
	}
	.features-mob-slider{
		background-image: url(../img/mobile-skeleton.png);
		background-repeat: no-repeat;
		width: 274px;
		height: 548px;
		display: block;
		background-position: center top;
		margin: 0 auto;
		text-align: center;
	}
	.features-mob-slider .carousel-indicators{
		bottom: calc(50% - 125px);
    transform: translateY(-50%);
	}
	.features-mob-slider .carousel-indicators li{
		width: 8px;
		height: 8px;
		background-color: #9eacb8;
		margin: 0 4px;
	}
	.features-mob-slider .carousel-indicators li.active{
		background-color: #FF0000;
	}
	.features-mob-slider .features-slider-content h3{
		font-size: 20px;
    color: #000;
    padding: 22px 0 12px;
	}
	.features-mob-slider .features-slider-content p{
		color: #FF0000;
		line-height: 20px;
	}
	.features-mob-slider .features-slider-content .btn.btn-red{
		font-size: 14px;
    padding: 9px 24px;
    margin: 85px 0 0;
	}
	.features-mob-slider .carousel,
	.features-mob-slider .carousel .carousel-inner,
	.features-mob-slider .carousel .carousel-inner .carousel-item{
		height: 100%;
	}
	.features-mob-slider .carousel .carousel-inner .carousel-item .features-slider-content{
		position: absolute;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 58%;
		width: 100%;
	}
	#FeaturesMobSlider{
		overflow: hidden;
		width: calc(100% - 60px);
    margin: 0 auto;
	}
	.our-services{
		background-color: #000;
		padding: 50px 0;
	}
	.our-services .section-head h3{
		color: #fff;
		font-size: 20px;
    text-transform: uppercase;
	}
	.our-services .section-head p{
		color: #fff;
		font-size: 14px;
		line-height: 22px;
	}
	.services-cards .card{
		color: #fff;
		box-shadow: 0px 3px 15px #00000029;
		background: #ED0000;
		padding: 15px 15px 20px;
	}
	.services-cards .card p{
		line-height: 22px;
	}
	.our-work{
		padding: 50px 0;
	}
	.our-work .work-content.section-head h3,
	.our-clients .clients-content.section-head h3{
		font-size: 20px;
		color: #000;
		text-transform: uppercase;
	}
	.our-work .carousel-item h4{
		font-size: 28px;
		color: #000;
		padding: 20px 0 0;
	}
	.our-clients .all-logos .align-content{
		position: relative;
    top: 0;
    left: 0;
    transform: translateY(0%);
	}
	.our-clients{
		height: auto;
		min-height: auto;
		padding: 0 0 50px;
	}
	.custom-row{
		overflow: hidden;
	}
	.custom-row .custom-col-2{
		width: 25%;
	}
	.our-clients .all-logos .client-logo{
		padding: 0;
		margin: 50px 0 0;
	}
	.our-clients .all-logos .client-logo img{
		max-width: 40px;
	}
	.get-in-touch h2{
		font-size: 20px;
	}
	.get-in-touch p{
		color: #fff;
		padding: 6px 0 20px;
	}
	.get-in-touch ul.social-nav{
		display: none;
	}
	.get-in-touch .btn-group .btn.btn-white{
		min-width: 120px;
		box-shadow: 0px 3px 6px #00000029;
		border-radius: 0px !important;
		padding: 6px 12px;
	}
	.footer .brand-logo img{
		max-width: 92px;
	}
	.footer{
		padding: 40px 0 35px;
	}
	.footer-mobile .card{
		border: 0px;
    border-radius: 0;
    display: block;
    background-color: transparent;
	}
	.footer-mobile .accordion>.card>.card-header{
		background-color: transparent;
    border-bottom: 0;
    padding: 0px 0;
	}
	.footer-mobile .accordion>.card>.card-header a{
		color: #fff;
		padding: 10px 0;
		display: block;
	}
	.footer-mobile .accordion>.card{
		overflow: visible;
	}
	.footer .footer-block h3{
		text-transform: capitalize;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
	}
	.footer .footer-block h3 .fa{
		float: right;
		display: inline-block;
    position: relative;
    left: -2px;
	}
	.footer .footer-block .address-block h4{
		font-size: 16px;
    font-weight: 400;
    padding: 0 0 6px;
	}
	.footer .footer-block .address-block p{
		line-height: 22px;
	}
	.footer-mobile .card-body{
		padding: 0px 0;
	}
	.footer .footer-block .address-block{
		padding: 10px 0;
    border-bottom: 1px solid #fff;
	}
	.footer .footer-block{
		padding: 10px 0 0;
	}
	.bt-1{
		border-top: 1px solid #fff;
	}
	.footer .footer-block ul.footer-nav li{
		margin: 0 0 5px;
    border-bottom: 1px solid #fff;
	}
	.footer .footer-block ul.footer-nav li a:after, 
	.footer .footer-block .address-block p a:after{
		display: none;
	}
	.footer .footer-block ul.footer-nav li a{
		display: block;
		padding: 6px 0;
	}
	.footer .brand-logo{
		margin: 0 0 15px;
    display: block;
	}
	.copyright{
		background: #111517;
		padding: 0 0 30px;
	}
	.copyright h4{
		color: #fff;
		font-size: 14px;
		font-weight: 600;
	}
	.social-nav{
		padding: 16px 0 20px;
	}
	.social-nav li{
		display: inline-block;
		margin: 0 5px;
	}
	.social-nav li a{
		color: #fff;
		font-size: 20px;
		display: inline-block;
		padding: 0 5px;
	}
	.social-nav li a:hover{
		color: #EC2023;
	}
	#toTopBtn{
		display: none !important;
	}
}